.container{
    padding: 0px;
}
@media(min-width:768px){
    .container{
        max-width:1000px ;
    }
	
    .productBox {
        display: flex;
        flex-wrap: wrap;
        margin: 10px auto;
    }
    .productBox .card {
        margin-right: 1%;
        margin-bottom: 10px;
        width: 19.2%;
    }
    
    .productBox .card:nth-child(5n+5) {
        margin-right: 0;
    }
    .productBox .card .card-title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    
}

