html,
body {
    background-color: grey;
}

.container {
    box-sizing: border-box;
    margin: 20px auto;
    width: 780px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.container .column {
    box-sizing: border-box;
    width: 240px;
}

.card {
    margin-bottom: 13px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 3px 3px 10px #333;
}

.card a {
    display: block;
}

.card a .lazyImageBox {
    background: url("../images/default.gif") no-repeat center center #f3f3f3;
    overflow: hidden;
}

.card a .lazyImageBox img {
    width: 100%;
    opacity: 0;
    transition: opacity .3s ease;
}

.card a p {
    margin-top: 5px;
    color: #000;
    font-size: 12px;
    line-height: 18px;
}