* {
  margin: 0;
  padding: 0;
}
#box {
  background-color: salmon;
  width: 100px;
  height: 100px;
  left: 200px;
  position: relative;
}
#box.stop {
  animation-play-state: paused;
}
@keyframes move123 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes turnRound {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
